{% extends "base_generic.html" %}

{% block content %}
  <h1>Data of room {{ data.RoomId }} on the date {{ data.DataDate }}</h1>

  <p><strong>Room number:</strong> <a href="{% url 'room-detail' data.RoomId.pk %}">{{ data.RoomId.RoomNumber }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Type:</strong> {{ data.Data_Type.DataType_Name }}</p>
  <p><strong>Date:</strong> {{ data.DataDate }}</p>
  <p class="{% if data.is_overdue %}text-danger{% endif %}"><strong >Dead Line:</strong>{{ data.DataDeadLine}} </p>
  <p><strong>other detail:</strong> {{ data.Detail }}</p>
  <p><strong>Unit used:</strong> {{ data.UnitUsed }}</p>
  <p><strong>Status: </strong> {{ data.get_status_display }}</p>
   {% if data.status  == 'N' %}
    <a href="{% url 'invoice-create' data.id %}">PAY</a>
    {% endif %}


{% endblock %}