{% extends "base_generic.html" %}


{% block content %}
    {% for n in notification %}
      <h1> {{ n.topic }}</h1>
      <p><strong>Topic:</strong> {{ n.topic }}</p> <!-- author detail link not yet defined -->
      <p><strong>Detail:</strong> {{ n.detail}}</p>
      <p><strong>Type:</strong> {{ n.get_notification_type_display }}</p>
      {% if n.DataID.status  == 'N' %}
          <a href="{% url 'invoice-create' d.id %}">Pay Now</a>
      {% endif %}
    {% endfor %}
    <a href="{% url 'notification' %}">Back</a>
{% endblock %}